extends layout.pug

block admin_content
  p.
    Total&nbsp;: #{total}
  nav.text-center(aria-label="Page navigation")
    ul.pagination
      - var page = 1
      while page < total/100 + 1
        li
          a(href='/admin/requests/' + page)= page++
  table.table
    tr
      th Email
      th Valide
      th Ville
      th Match
      th
    each elem in list
      tr
        td= elem.email
        td= elem.valid
        td= elem.commune
        td= elem.matching
        td
          if elem.requestConfirmed && elem.offerConfirmed
            i.fa.fa-check(title="Confirmé")
          else if elem.requestConfirmed
            i.fa.fa-adjust.fa-rotate-180(title="Confirmé par le mandant")
          else if elem.offerConfirmed
            i.fa.fa-adjust(title="Confirmé par le mandataire")
          else
            i.fa.fa-close(title="Aucun")
