extends layout.pug

block content
  P.alert.alert-info.
    Si vous n'êtes pas <strong>#{email}</strong>, <a href="/logout">cliquez ici</a> pour vous déconnecter.
  p.
    Pour prendre la procuration d'une personne de votre commune, merci de remplir le formulaire suivant. Si quelqu'un dans votre commune a besoin d'une procuration, vous en serez informé&middot;e par e-mail.
  p.
    La personne recevra immédiatement les informations nécessaires pour établir sa procuration et vous contactera pour confirmation.
  form(action="/mandataire" method="POST")
    .form-group(class=errors && errors.first_name ? "has-error" : "")
      label Prénom
      input.form-control.input-block(type="text" name="first_name" required value=form && !(errors && errors.first_name) ? form.first_name : '')
      if errors && errors.first_name
        span.help-block= errors.first_name
    .form-group(class=errors && errors.last_name ? "has-error" : "")
      label Nom
      input.form-control.input-block(type="text" name="last_name" required value=form && !(errors && errors.last_name) ? form.last_name : '')
      if errors && errors.last_name
        span.help-block= errors.last_name
    .form-group(class=errors && errors.date ? "has-error" : "")
      label Date de naissance (JJ/MM/AAAA)
      input.form-control.input-block(type="text" name="date" required value=form && !(errors && errors.date) ? form.date : '')
      if errors && errors.date
        span.help-block= errors.date
    .form-group(class=errors && errors.phone ? "has-error" : "")
      label Numéro de téléphone portable (important, il servira à vous contacter)
      input.form-control.input-block(type="text" name="phone" required value=form && !(errors && errors.phone) ? form.phone : '')
      if errors && errors.phone
        span.help-block= errors.phone
    .form-group(class=errors && errors.adresse ? "has-error" : "")
      label Adresse (ligne 1)
      input.form-control.input-block(type="text" name="address1" required value=form && !(errors && errors.address) ? form.address1 : '')
      label Adresse (ligne 2)
      input.form-control.input-block(type="text" name="address2" value=form && !(errors && errors.address) ? form.address2 : '')
      if errors && errors.adresse
        span.help-block= errors.adresse
    .form-group(class=errors && errors.zipcode ? "has-error" : "")
      label Code postal
      input#zipcode.form-control.input-block(type="text" name="zipcode" required value=form && !(errors && errors.zipcode) ? form.zipcode : '')
      if errors && errors.zipcode
        span.help-block= errors.zipcode
    .form-group(class=errors && errors.commune ? "has-error" : "")
      label Commune d'inscription sur les listes électorales
      input#commune-input.form-control.input-block(type="text" name="commune" required)
      if errors && errors.commune
        span.help-block= errors.commune
    input.btn.btn-primary.btn-block(type="submit")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js" integrity="sha256-HyBiZFJAMvxOhZoWOc5LWIWaN1gcFi8LjS75BZF4afg=" crossorigin="anonymous")
  script(src="public/main.js")
